### Space Apps COVID-19 / Where There’s a Link, There’s a Way Challenge

#### MOPITT Link: https://mopitt.physics.utoronto.ca/
#### Dataset Link: ftp://ftp.asc-csa.gc.ca/users/OpenData_DonneesOuvertes/pub/MOPITT/

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob
import os

In [29]:
path =r'/home/tuna/Downloads/mar-19' # use your path.
allFiles = glob. glob(path + "/*.csv")
frame = pd. DataFrame()
list_ = []
for file_ in allFiles:
    df = pd. read_csv(file_,index_col=None, header=0)
    list_. append(df)
frame = pd. concat(list_,ignore_index=True)

In [30]:
frame

,# Latitude,Longitude,COTotalColumn,COMixingRatio surface,COMixingRatio 900hPa,COMixingRatio 800hPa,COMixingRatio 700hPa,COMixingRatio 600hPa,COMixingRatio 500hPa,COMixingRatio 400hPa,COMixingRatio 300hPa,COMixingRatio 200hPa,COMixingRatio 100hPa,RetrievedSurfaceTemperature
0,-80.7565,29.4190,7.034130e+17,73.3627,NaN,NaN,NaN,82.9687,67.6046,51.8832,45.1082,27.6997,16.5131,201.485
1,-80.8823,30.4567,6.731520e+17,67.5439,NaN,NaN,NaN,74.5793,64.1619,52.2087,45.9750,27.9716,16.5725,200.638
2,-81.0646,27.6064,7.071930e+17,72.1516,NaN,NaN,NaN,78.6854,63.0820,52.3501,46.5972,28.2937,16.6442,202.999
3,-81.1970,28.6662,7.319010e+17,73.4702,NaN,NaN,NaN,81.9278,66.4591,54.7643,48.3026,28.8918,16.7667,202.573
4,-81.3268,29.7554,6.919730e+17,69.2818,NaN,NaN,NaN,75.9422,62.6185,51.9861,46.1342,28.0716,16.6070,202.937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450665,-70.1850,128.1830,6.471930e+17,54.6243,NaN,NaN,54.8188,53.4335,50.0041,48.8840,46.9713,28.7505,17.0127,230.803
2450666,-69.9998,128.4980,6.750390e+17,68.8503,NaN,NaN,69.8389,60.2120,47.9810,43.7037,42.3035,27.2595,16.7662,232.308
2450667,-69.8141,128.8070,8.116750e+17,112.3030,NaN,NaN,117.5060,74.9561,46.3941,39.6340,38.7069,26.0570,16.5420,233.384
2450668,-69.9777,126.9790,6.400460e+17,63.2130,NaN,NaN,63.6167,54.9219,45.4702,43.0596,42.4735,27.3931,16.8295,235.662
2450669,-69.6028,127.6320,8.313090e+17,112.3900,NaN,NaN,118.3780,73.5981,47.4354,41.5997,40.5150,26.7417,16.6826,233.487

In [33]:
mar_19 = frame[['# Latitude', ' Longitude', 'COMixingRatio surface', 'RetrievedSurfaceTemperature ']]

In [34]:
mar_19

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
0,-80.7565,29.4190,73.3627,201.485
1,-80.8823,30.4567,67.5439,200.638
2,-81.0646,27.6064,72.1516,202.999
3,-81.1970,28.6662,73.4702,202.573
4,-81.3268,29.7554,69.2818,202.937
...,...,...,...,...
2450665,-70.1850,128.1830,54.6243,230.803
2450666,-69.9998,128.4980,68.8503,232.308
2450667,-69.8141,128.8070,112.3030,233.384
2450668,-69.9777,126.9790,63.2130,235.662
2450669,-69.6028,127.6320,112.3900,233.487

In [56]:
#### New DataFrame to compare with country's coordinate values
last_mar_19 = pd.DataFrame

#CHI
last_mar_19 = mar_19[(mar_19["# Latitude"] >= 20.14) & (mar_19["# Latitude"] <= 53.33) & 
       (mar_19[" Longitude"] <= 134.78) & (mar_19[" Longitude"] >= 73.51)]

#ITA
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 47.267) & (mar_19["# Latitude"] <= 54.914) & 
       #(mar_19[" Longitude"] <= 15.04) & (mar_19[" Longitude"] >= 5.85)]

#BRE
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -33.824) & (mar_19["# Latitude"] <= 5.314) & 
       #(mar_19[" Longitude"] <= -34.70) & (mar_19[" Longitude"] >= -74.077)]

#AUS
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -43.66) & (mar_19["# Latitude"] <= -10.57) & 
       #(mar_19[" Longitude"] <= 153.75) & (mar_19[" Longitude"] >= 112.89)]

#CAN
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 41.60) & (mar_19["# Latitude"] <= 70.63) & 
       #(mar_19[" Longitude"] <= -55.55) & (mar_19[" Longitude"] >= -141.02)]

#TR
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 36) & (mar_19["# Latitude"] <= 42) & 
       #(mar_19[" Longitude"] <= 45) & (mar_19[" Longitude"] >= 26)]

In [57]:
# Surface Temperature is Kelvin, convert to Celcius
df = last_mar_19.copy()
df["RetrievedSurfaceTemperature "] = df["RetrievedSurfaceTemperature "]-273.15

In [58]:
last_mar_19 = df
last_mar_19

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
28506,53.2472,130.3330,151.140,-12.612
28507,53.3030,129.6190,140.212,-11.218
28509,53.3166,128.4490,138.062,-11.145
28510,53.1051,129.8760,153.883,-10.238
28511,53.3084,129.9440,120.884,-10.248
...,...,...,...,...
2364816,52.8735,77.5147,140.252,-9.561
2364817,52.4511,77.7305,165.976,-10.245
2364818,52.2390,77.8351,157.848,-11.038
2364824,53.3083,76.7812,158.303,-8.650
2364828,53.2014,77.2664,148.973,-8.298

In [59]:
last_mar_19.to_csv(r'/home/tuna/Downloads/mar-19/chi_mar_19.csv')

In [120]:
##########################################################################################################
##########################################################################################################
##########################################################################################################

In [60]:
path =r'/home/tuna/Downloads/mar-20' # use your path.
allFiles = glob. glob(path + "/*.csv")
frame = pd. DataFrame()
list_ = []
for file_ in allFiles:
    df = pd. read_csv(file_,index_col=None, header=0)
    list_. append(df)
frame = pd. concat(list_,ignore_index=True)

In [61]:
frame

,# Latitude,Longitude,COTotalColumn,COMixingRatio surface,COMixingRatio 900hPa,COMixingRatio 800hPa,COMixingRatio 700hPa,COMixingRatio 600hPa,COMixingRatio 500hPa,COMixingRatio 400hPa,COMixingRatio 300hPa,COMixingRatio 200hPa,COMixingRatio 100hPa,RetrievedSurfaceTemperature
0,62.5151,166.939,2.290060e+18,158.791,177.015,158.497,127.695,107.7590,98.4109,94.1673,81.9666,37.4411,18.2156,246.027
1,62.7335,167.037,2.317160e+18,169.739,192.474,164.830,125.966,103.2940,92.8598,88.2379,77.1363,36.0356,17.9904,244.312
2,62.9519,167.138,2.232560e+18,161.772,176.763,152.871,120.586,101.2350,92.2932,88.4600,77.3870,35.8928,17.9379,244.582
3,62.3917,167.935,2.108190e+18,159.310,169.578,149.801,122.292,102.0730,89.4689,81.6181,70.8664,35.0228,18.0166,244.719
4,62.6030,168.039,1.949220e+18,144.441,150.930,133.225,108.968,92.4564,83.5662,78.9691,69.6788,34.1946,17.7590,248.422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107387,81.7539,-134.333,2.135860e+18,115.893,113.976,115.345,118.144,120.1440,120.9160,115.3000,87.4480,36.3143,18.1017,228.252
2107388,82.0411,-136.956,2.217270e+18,136.136,134.342,129.898,124.693,119.3000,113.7840,104.8250,80.3433,35.0570,17.9385,231.073
2107389,82.1228,-135.600,2.215870e+18,132.786,131.097,127.985,124.519,120.6330,116.2580,107.6070,82.0166,35.3880,17.9821,232.036
2107390,83.1674,-142.000,2.218240e+18,130.314,129.251,128.194,126.514,123.2590,117.9180,107.5070,81.4624,35.6093,17.9285,235.696
2107391,83.5642,-144.236,2.258950e+18,132.035,130.057,127.629,125.435,123.4280,121.3640,114.8070,87.9679,37.1201,18.0261,237.120

In [62]:
mar_20 = frame[['# Latitude', ' Longitude', 'COMixingRatio surface', 'RetrievedSurfaceTemperature ']]

In [63]:
mar_20

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
0,62.5151,166.939,158.791,246.027
1,62.7335,167.037,169.739,244.312
2,62.9519,167.138,161.772,244.582
3,62.3917,167.935,159.310,244.719
4,62.6030,168.039,144.441,248.422
...,...,...,...,...
2107387,81.7539,-134.333,115.893,228.252
2107388,82.0411,-136.956,136.136,231.073
2107389,82.1228,-135.600,132.786,232.036
2107390,83.1674,-142.000,130.314,235.696
2107391,83.5642,-144.236,132.035,237.120

In [64]:
#### New DataFrame to compare with Canada coordinate values
last_mar_20 = pd.DataFrame

#CHI
last_mar_19 = mar_19[(mar_19["# Latitude"] >= 20.14) & (mar_19["# Latitude"] <= 53.33) & 
       (mar_19[" Longitude"] <= 134.78) & (mar_19[" Longitude"] >= 73.51)]

#ITA
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 47.267) & (mar_19["# Latitude"] <= 54.914) & 
       #(mar_19[" Longitude"] <= 15.04) & (mar_19[" Longitude"] >= 5.85)]

#BRE
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -33.824) & (mar_19["# Latitude"] <= 5.314) & 
       #(mar_19[" Longitude"] <= -34.70) & (mar_19[" Longitude"] >= -74.077)]

#AUS
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -43.66) & (mar_19["# Latitude"] <= -10.57) & 
       #(mar_19[" Longitude"] <= 153.75) & (mar_19[" Longitude"] >= 112.89)]

#CAN
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 41.60) & (mar_19["# Latitude"] <= 70.63) & 
       #(mar_19[" Longitude"] <= -55.55) & (mar_19[" Longitude"] >= -141.02)]

#TR
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 36) & (mar_19["# Latitude"] <= 42) & 
       #(mar_19[" Longitude"] <= 45) & (mar_19[" Longitude"] >= 26)]

In [65]:
# Surface Temperature is Kelvin, convert to Celcius
df = last_mar_20.copy()
df["RetrievedSurfaceTemperature "] = df["RetrievedSurfaceTemperature "]-273.15

In [66]:
last_mar_20 = df
last_mar_20

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
18850,34.8025,134.6500,223.558,15.828
18851,35.0069,134.6880,174.058,12.628
18861,34.1730,134.7720,172.307,14.762
18865,34.2078,134.2560,160.225,17.692
18866,34.4140,134.2930,188.538,11.865
...,...,...,...,...
2040849,49.5269,74.3548,185.065,-17.180
2040850,49.3068,74.4109,153.066,-18.331
2040943,51.0884,73.8482,165.376,-14.049
2040944,50.8683,73.9076,150.226,-14.169
2040955,51.6489,73.6471,170.461,-11.431

In [68]:
last_mar_20.to_csv(r'/home/tuna/Downloads/mar-20/chi_mar_20.csv')

In [ ]:
##########################################################################################################
##########################################################################################################
##########################################################################################################

In [69]:
path =r'/home/tuna/Downloads/apr-20' # use your path.
allFiles = glob. glob(path + "/*.csv")
frame = pd. DataFrame()
list_ = []
for file_ in allFiles:
    df = pd. read_csv(file_,index_col=None, header=0)
    list_. append(df)
frame = pd. concat(list_,ignore_index=True)

In [70]:
frame

,# Latitude,Longitude,COTotalColumn,COMixingRatio surface,COMixingRatio 900hPa,COMixingRatio 800hPa,COMixingRatio 700hPa,COMixingRatio 600hPa,COMixingRatio 500hPa,COMixingRatio 400hPa,COMixingRatio 300hPa,COMixingRatio 200hPa,COMixingRatio 100hPa,RetrievedSurfaceTemperature
0,-77.2124,38.1937,8.122100e+17,114.1680,NaN,NaN,NaN,115.1020,103.1810,64.2289,49.6099,30.1086,16.8138,171.880
1,-77.3206,39.1075,6.286330e+17,73.5340,NaN,NaN,NaN,73.9045,70.1921,55.0523,47.2901,29.7079,16.8039,206.203
2,-77.4256,40.0366,6.092140e+17,66.9328,NaN,NaN,NaN,67.2804,65.4937,55.2332,48.5172,30.1318,16.8748,200.810
3,-77.6289,37.0024,6.080900e+17,66.3766,NaN,NaN,NaN,66.8232,64.9264,55.2681,48.5058,29.8660,16.8232,171.530
4,-77.7382,37.9087,7.117630e+17,87.8083,NaN,NaN,NaN,88.9913,82.3439,60.8606,50.3555,30.2806,16.8610,196.919
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5187540,-69.1621,128.2840,8.033390e+17,86.9726,NaN,NaN,95.2060,73.9017,51.2200,44.1977,42.3974,26.8126,16.7352,227.682
5187541,-69.5031,126.1050,8.489400e+17,105.4670,NaN,NaN,110.0050,93.4936,55.6565,43.6365,41.5596,26.4942,16.6625,227.998
5187542,-69.3122,126.4420,8.080350e+17,93.6127,NaN,NaN,99.0028,78.4912,52.8899,44.9964,42.9282,26.8727,16.7305,227.701
5187543,-69.1208,126.7740,9.186620e+17,112.8280,NaN,NaN,125.2040,87.4914,54.5024,45.8805,43.6568,27.1864,16.7667,227.554
5187544,-68.9283,127.1000,7.116670e+17,64.8660,NaN,NaN,68.9040,59.9852,49.0795,45.0617,43.3725,27.0773,16.7815,229.121

In [71]:
apr_20 = frame[['# Latitude', ' Longitude', 'COMixingRatio surface', 'RetrievedSurfaceTemperature ']]

In [72]:
apr_20

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
0,-77.2124,38.1937,114.1680,171.880
1,-77.3206,39.1075,73.5340,206.203
2,-77.4256,40.0366,66.9328,200.810
3,-77.6289,37.0024,66.3766,171.530
4,-77.7382,37.9087,87.8083,196.919
...,...,...,...,...
5187540,-69.1621,128.2840,86.9726,227.682
5187541,-69.5031,126.1050,105.4670,227.998
5187542,-69.3122,126.4420,93.6127,227.701
5187543,-69.1208,126.7740,112.8280,227.554
5187544,-68.9283,127.1000,64.8660,229.121

In [76]:
#### New DataFrame to compare with Canada coordinate values
last_apr_20 = pd.DataFrame

#CHI
last_mar_19 = mar_19[(mar_19["# Latitude"] >= 20.14) & (mar_19["# Latitude"] <= 53.33) & 
       (mar_19[" Longitude"] <= 134.78) & (mar_19[" Longitude"] >= 73.51)]

#ITA
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 47.267) & (mar_19["# Latitude"] <= 54.914) & 
       #(mar_19[" Longitude"] <= 15.04) & (mar_19[" Longitude"] >= 5.85)]

#BRE
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -33.824) & (mar_19["# Latitude"] <= 5.314) & 
       #(mar_19[" Longitude"] <= -34.70) & (mar_19[" Longitude"] >= -74.077)]

#AUS
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -43.66) & (mar_19["# Latitude"] <= -10.57) & 
       #(mar_19[" Longitude"] <= 153.75) & (mar_19[" Longitude"] >= 112.89)]

#CAN
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 41.60) & (mar_19["# Latitude"] <= 70.63) & 
       #(mar_19[" Longitude"] <= -55.55) & (mar_19[" Longitude"] >= -141.02)]

#TR
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 36) & (mar_19["# Latitude"] <= 42) & 
       #(mar_19[" Longitude"] <= 45) & (mar_19[" Longitude"] >= 26)]

In [77]:
# Surface Temperature is Kelvin, convert to Celcius
df = last_apr_20.copy()
df["RetrievedSurfaceTemperature "] = df["RetrievedSurfaceTemperature "]-273.15

In [78]:
last_apr_20 = df
last_apr_20

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
25834,53.2456,128.1940,216.986,10.111
25837,53.1306,128.8300,219.391,8.043
25838,53.3263,128.9070,213.165,8.620
25840,53.0119,129.4570,232.854,8.546
25841,53.2068,129.5360,235.893,7.511
...,...,...,...,...
5106206,53.1655,73.6840,155.786,-1.387
5106207,52.9506,73.7960,154.994,-0.444
5106210,53.2699,74.0586,155.705,-0.971
5106211,53.0581,74.1676,154.720,-1.146
5106215,53.2367,74.9044,153.694,-1.223

In [79]:
last_apr_20.to_csv(r'/home/tuna/Downloads/apr-20/chi_apr_20.csv')

In [28]:
##########################################################################################################
##########################################################################################################
##########################################################################################################

In [80]:
path =r'/home/tuna/Downloads/apr-19' # use your path.
allFiles = glob. glob(path + "/*.csv")
frame = pd. DataFrame()
list_ = []
for file_ in allFiles:
    df = pd. read_csv(file_,index_col=None, header=0)
    list_. append(df)
frame = pd. concat(list_,ignore_index=True)

In [83]:
frame

,# Latitude,Longitude,COTotalColumn,COMixingRatio surface,COMixingRatio 900hPa,COMixingRatio 800hPa,COMixingRatio 700hPa,COMixingRatio 600hPa,COMixingRatio 500hPa,COMixingRatio 400hPa,COMixingRatio 300hPa,COMixingRatio 200hPa,COMixingRatio 100hPa,RetrievedSurfaceTemperature
0,-80.7565,29.4190,7.034130e+17,73.3627,NaN,NaN,NaN,82.9687,67.6046,51.8832,45.1082,27.6997,16.5131,201.485
1,-80.8823,30.4567,6.731520e+17,67.5439,NaN,NaN,NaN,74.5793,64.1619,52.2087,45.9750,27.9716,16.5725,200.638
2,-81.0646,27.6064,7.071930e+17,72.1516,NaN,NaN,NaN,78.6854,63.0820,52.3501,46.5972,28.2937,16.6442,202.999
3,-81.1970,28.6662,7.319010e+17,73.4702,NaN,NaN,NaN,81.9278,66.4591,54.7643,48.3026,28.8918,16.7667,202.573
4,-81.3268,29.7554,6.919730e+17,69.2818,NaN,NaN,NaN,75.9422,62.6185,51.9861,46.1342,28.0716,16.6070,202.937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5154972,-70.1850,128.1830,6.471930e+17,54.6243,NaN,NaN,54.8188,53.4335,50.0041,48.8840,46.9713,28.7505,17.0127,230.803
5154973,-69.9998,128.4980,6.750390e+17,68.8503,NaN,NaN,69.8389,60.2120,47.9810,43.7037,42.3035,27.2595,16.7662,232.308
5154974,-69.8141,128.8070,8.116750e+17,112.3030,NaN,NaN,117.5060,74.9561,46.3941,39.6340,38.7069,26.0570,16.5420,233.384
5154975,-69.9777,126.9790,6.400460e+17,63.2130,NaN,NaN,63.6167,54.9219,45.4702,43.0596,42.4735,27.3931,16.8295,235.662
5154976,-69.6028,127.6320,8.313090e+17,112.3900,NaN,NaN,118.3780,73.5981,47.4354,41.5997,40.5150,26.7417,16.6826,233.487

In [84]:
apr_19 = frame[['# Latitude', ' Longitude', 'COMixingRatio surface', 'RetrievedSurfaceTemperature ']]

In [85]:
apr_19

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
0,-80.7565,29.4190,73.3627,201.485
1,-80.8823,30.4567,67.5439,200.638
2,-81.0646,27.6064,72.1516,202.999
3,-81.1970,28.6662,73.4702,202.573
4,-81.3268,29.7554,69.2818,202.937
...,...,...,...,...
5154972,-70.1850,128.1830,54.6243,230.803
5154973,-69.9998,128.4980,68.8503,232.308
5154974,-69.8141,128.8070,112.3030,233.384
5154975,-69.9777,126.9790,63.2130,235.662
5154976,-69.6028,127.6320,112.3900,233.487

In [86]:
#### New DataFrame to compare with Canada coordinate values
last_apr_19 = pd.DataFrame

#CHI
last_mar_19 = mar_19[(mar_19["# Latitude"] >= 20.14) & (mar_19["# Latitude"] <= 53.33) & 
       (mar_19[" Longitude"] <= 134.78) & (mar_19[" Longitude"] >= 73.51)]

#ITA
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 47.267) & (mar_19["# Latitude"] <= 54.914) & 
       #(mar_19[" Longitude"] <= 15.04) & (mar_19[" Longitude"] >= 5.85)]

#BRE
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -33.824) & (mar_19["# Latitude"] <= 5.314) & 
       #(mar_19[" Longitude"] <= -34.70) & (mar_19[" Longitude"] >= -74.077)]

#AUS
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= -43.66) & (mar_19["# Latitude"] <= -10.57) & 
       #(mar_19[" Longitude"] <= 153.75) & (mar_19[" Longitude"] >= 112.89)]

#CAN
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 41.60) & (mar_19["# Latitude"] <= 70.63) & 
       #(mar_19[" Longitude"] <= -55.55) & (mar_19[" Longitude"] >= -141.02)]

#TR
#last_mar_19 = mar_19[(mar_19["# Latitude"] >= 36) & (mar_19["# Latitude"] <= 42) & 
       #(mar_19[" Longitude"] <= 45) & (mar_19[" Longitude"] >= 26)]

In [87]:
# Surface Temperature is Kelvin, convert to Celcius
df = last_apr_19.copy()
df["RetrievedSurfaceTemperature "] = df["RetrievedSurfaceTemperature "]-273.15

In [88]:
last_apr_19 = df
last_apr_19

,# Latitude,Longitude,COMixingRatio surface,RetrievedSurfaceTemperature
26142,50.4243,123.5310,168.472,12.880
26143,48.7315,132.3540,197.042,20.518
26144,48.9470,132.4500,278.315,19.056
26145,49.1622,132.5480,202.940,14.913
26146,48.7769,131.9840,224.974,21.777
...,...,...,...,...
5074392,52.5899,74.9522,136.683,-0.303
5074393,52.7774,74.4431,146.952,-0.165
5074394,52.5654,74.5493,147.856,0.456
5074395,52.7423,75.2790,143.277,-0.920
5074396,52.9054,75.9753,144.840,-1.745

In [89]:
last_apr_19.to_csv(r'/home/tuna/Downloads/apr-19/chi_apr_19.csv')